.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Add this for pseudo-element positioning */
    overflow: hidden; /* Ensure no overflow issues */
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/hospi-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(8px); 
    z-index: -1;
}

.error-message {
    color: red;
    margin-top: 10px;
  }
  

.content {
    width: 400px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative; 
    z-index: 1;
}
